<div class="row border-bottom p-2 text-break <%= 'bg-primary-subtle' if params[:column_id] == column.id.to_s %>">
  <div class="col-2"><%= column.name %></div>
  <div class="col-2"><%= column.type %></div>
  <div class="col-1">
    <%= render 'columns/key', column: %>
  </div>
  <div class="text-center col-1">
    <%= display_nullable(column.nullable?) %>
  </div>
  <div class="col-2"><%= column.comment %></div>
  <div class="col-4">
    <%= render column.memo || column.build_memo %>
  </div>
</div>
