<div class="row border-bottom p-2">
  <div class="col-2"><%= column.name %></div>
  <div class="col-2"><%= column.type %></div>
  <div class="col-1">
    <%= render 'columns/key', column: %>
  </div>
  <div class="text-center col-1">
    <%= display_nullable(column.nullable?) %>
  </div>
  <div class="col-3"><%= column.comment %></div>
  <div class="col-3">
    <%= render column.memo || column.build_memo %>
  </div>
</div>
