<%= turbo_frame_tag 'table', data: { turbo_action: 'advance' } do %>
  <span class="badge rounded-pill text-bg-secondary fs-6 mb-2 mt-3">
    <%= @table.product.name %> / <%= @table.name %>
  </span>

  <table class="table">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Key</th>
      <th class="text-center">Nullable</th>
      <th>Comment</th>
      <th>Memo</th>
    </thead>
    <tbody>
      <% @table.columns.each do |column| %>
        <tr>
          <td><%= column.name %></td>
          <td><%= column.type %></td>
          <td>
            <% if column.primary_key? %>
              <span class="badge text-bg-danger">PK</span>
            <% end %>
            <% if column.foreign_key_table.present? %>
              <%= link_to 'FK',
                          column.foreign_key_table,
                          class: 'link-light link-underline-opacity-0 badge text-bg-primary' %>
            <% end %>
          </td>
          <td class="text-center"><%= display_nullable(column.nullable?) %></td>
          <td><%= column.comment %></td>
          <td><%= column.memo&.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
