<%= turbo_frame_tag column_memo do %>
  <%= form_with model: column_memo do |form| %>
    <%= form.text_area :content, class: 'form-control' %>

    <% if column_memo.errors.present? %>
      <div class="text-danger">
        <%= column_memo.errors.full_messages.first %>
      </div>
    <% end %>

    <%= form.submit '保存' %>
  <% end %>

  <%= link_to 'キャンセル', column_memo %>
<% end %>
